Ans1

In [1]:
import pandas as pd

In [2]:
df=pd.DataFrame({'Time spend':[10,15,7],'Final marks':[95,85,90]})

In [3]:
df

   Time spend  Final marks
0          10           95
1          15           85
2           7           90

In [4]:
df.corr()

             Time spend  Final marks
Time spend      1.00000     -0.61859
Final marks    -0.61859      1.00000

The above analysis shows that time spend and final marks have negative correlation they are not dependent on each other.

Ans2

In [12]:
df1=pd.DataFrame({'sleep period':[8,9,6],'job satisfaction':[6,5,4]})

In [13]:
df1

   sleep period  job satisfaction
0             8                 6
1             9                 5
2             6                 4

In [14]:
df1.corr(method='spearman')

                  sleep period  job satisfaction
sleep period               1.0               0.5
job satisfaction           0.5               1.0

The above analysis shows that sleep period and job satisfaction are postively correlated.

In [16]:
df1=pd.DataFrame({'sleep period':[8,9,6],'job satisfaction':[6,5,4]})

In [17]:
df2

   excercise per week  body mass index
0                   8               18
1                   9               20
2                   7               25
3                   6               17
4                   4               18
5                   5               19
6                   5               20
7                   6               25
8                   7               24
9                   8               21

In [18]:
df2.corr()

                    excercise per week  body mass index
excercise per week            1.000000         0.200222
body mass index               0.200222         1.000000

The above analysis shows that these have positive correlation but not up to that extent..

In [24]:
df3=pd.DataFrame({'television per day':[4,5,6,7,8,9,8,5,6,4,7,7,5,6,8,9,7,8,5,4,4,5,6,5,7,8,5,6,4,8,6,7,8,4,8,6,9,8,7,5,4,2,7,6,8,8,8,5,5,5,6],'pyscial acitivit':[1,2,5,5,6,5,8,9,7,8,5,4,6,7,8,5,2,5,7,6,5,8,8,6,4,3,5,6,9,8,7,9,5,6,7,8,5,4,6,9,8,6,5,4,2,4,7,8,9,5,7]})

In [26]:
df3.head()

   television per day  pyscial acitivit
0                   4                 1
1                   5                 2
2                   6                 5
3                   7                 5
4                   8                 6

In [27]:
df.corr()

             Time spend  Final marks
Time spend      1.00000     -0.61859
Final marks    -0.61859      1.00000

In [30]:
df3=pd.DataFrame({'Age(years)':[25,42,37,19,31,28],'Soft drink Preference':['Coke','Pepsi','Mountain dew','Coke','Pepsi','Coke']})

In [31]:
df3

   Age(years) Soft drink Preference
0          25                  Coke
1          42                 Pepsi
2          37          Mountain dew
3          19                  Coke
4          31                 Pepsi
5          28                  Coke

In [33]:
from sklearn.preprocessing import LabelEncoder

In [34]:
lable_encoder=LabelEncoder()

In [36]:
encoded=lable_encoder.fit_transform(df3[['Soft drink Preference']])

/opt/conda/lib/python3.10/site-packages/sklearn/preprocessing/_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([0, 2, 1, 0, 2, 0])

In [38]:
df4=pd.DataFrame({'Soft drink encoded':[0, 2, 1, 0, 2, 0]})

In [44]:
df5=pd.concat([df3,df4],axis=1)

In [46]:
df5.corr()

/tmp/ipykernel_427/2952672672.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df5.corr()

                    Age(years)  Soft drink encoded
Age(years)            1.000000            0.769175
Soft drink encoded    0.769175            1.000000

In [47]:
df6=pd.DataFrame({'calls made per day':[10,12,15,18],'sales made per week':[50,40,25,10]})

In [48]:
df6

   calls made per day  sales made per week
0                  10                   50
1                  12                   40
2                  15                   25
3                  18                   10

In [ ]:
df6.corr